APP_KEY=
APP_PORT=3000
APP_TIMEZONE='Asia/Tehran'

MONGO_DB_URI=mongodb://127.0.0.1:27017
MONGO_DB_DATABASE=database
MONGO_DB_USER=root
MONGO_DB_PASSWORD=secret

CORS_ALLOWED_ORIGIN='localhost'
CORS_MAX_AGE=86400
